ARTOUR_APP_NAME="ARTour Recommender API"
ARTOUR_BACKEND_BASE_URL="http://localhost:8001"
ARTOUR_PLACES_PATH="/places"
ARTOUR_USER_INTERACTIONS_PATH="/user-interactions"
ARTOUR_MIN_POSITIVE_RATING="4.0"
ARTOUR_REQUEST_TIMEOUT_SECONDS="15"
ARTOUR_REFRESH_WEBHOOK_URL="http://localhost:8000/recommender/refresh/webhook"
ARTOUR_REFRESH_TRIGGER_TOKEN="<Your Refresh Trigger Token>"
ARTOUR_REFRESH_WEBHOOK_TOKEN="<Your Refresh Webhook Token>"
ARTOUR_RECOMMENDATION_STATE_PATH="./.cache/recommendation_state.pkl"
ARTOUR_REFRESH_WEBHOOK_TIMEOUT_SECONDS="30"
ARTOUR_APRIORI_ABSOLUTE_SUPPORT="3"
ARTOUR_APRIORI_MIN_USER_INTERACTIONS="2"
ARTOUR_APRIORI_MAX_LEN="3"
ARTOUR_MCRS_MIN_RATING_SCALE="1.0"
ARTOUR_MCRS_MAX_RATING_SCALE="5.0"
ARTOUR_DEFAULT_K="10"
ARTOUR_DEFAULT_N="20"
ARTOUR_MAX_USER_BASKET_SIZE="50"
ARTOUR_WEIGHT_COST="0.5"
ARTOUR_WEIGHT_BENEFIT="0.5"